html,
body {
    background-color: rgb(34, 34, 34);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
    color: white;
}

button {
    padding: 15px;
    font-size: 1.3rem;
}